/* style do scroll-bar */

::-webkit-scrollbar {
    width: 11px;
    background-color: #23232e;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #090;
    border-radius: 10px;
  }

/* style dos container */

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    color: rgb(0, 190, 0);
    text-shadow: 0 0 10px #090;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2em;
    font-family:'Fira Mono', monospace;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 400ms;
    visibility: hidden;
    border-bottom: 5px dashed #03A014;
    overflow: hidden;
}

/* h1{
    padding: 30px 30px;
    transition: 800ms;
    background-color: rgba(128, 128, 128, 0.8);
    color:antiquewhite;
    text-shadow: 5px 5px 7px black;
}

h1:hover{
    font-size: 2.3em;
} */

.digitacao::after{
    content: '|';
    opacity: 1;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.title{
    transition: 600ms;
    font-size: 2.8em;
    color: aqua;
    padding: 27px;
    margin-top: 55px;
    border: 0px solid rgb(94, 94, 94);
    border-radius: 50px;
    text-shadow: 0 0 10px aqua;
    box-shadow: 0 0 15px 2px aqua,
    inset 0 0 15px 2px aqua;
    animation: jump-title 3s infinite;
}

@keyframes jump-title{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

.apresentacao{
    margin-top: 9vh;
}

.languages{
    height: 80vh;
}

/* style Apresentação */
.video1{
    position: absolute;
    width: 100%;
    filter: brightness(30%);
}

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
}

.text{
    border: 1px solid #333;
    font-family:'Fira Mono', monospace;
    letter-spacing: 1px;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 4px #111;
}

.apresentacao p{
    width: 60%;
}

/* style sobre-mim */

.img_sobre_mim{
    position: absolute;
    z-index: -10;
    height: 93%;
    width: 100%;
    filter: brightness(30%);
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1px;
}

.sobre-mim p {
    width: 55%
}

/* style linguagens que conheço */

.video2{
    position: absolute;
    width: 100%;
    filter: brightness(60%);
}

.languages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1px;
    z-index: 100;
    height: 90vh;
}

.lang{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #099;
    text-shadow: 0 0 10px #099;
}

.lang img{
    width: 70px;
    transition: 500ms;
    /* filter: grayscale(85%); */
}

.lang img:hover{
    transform: scale(1.2);
}

.area-lang{
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
}

/* style experiencia */

.img_experiencia{
    position: absolute;
    z-index: -10;
    height: 93%;
    width: 100%;
    filter: brightness(30%);
}

.area-experiencia{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    flex-direction: row;
    height: 60%;
    width: 90%;
}

.my-experiencia{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 100%;
    transition: 500ms;
}

.my-experiencia:hover{
    transform: scale(1.1);
}

.my-experiencia img{
    height: 50%;
}

.experiencia-local{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    border-top: 5px solid #000;
}

.cargo-data::after{
    content: "|";
    color: #000;
    font-size: 100%;
    height: 10px;
    z-index: 10;
}

.cargo-data{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}


.experiencia-local h1{
    /* padding: top right bottom left */
    padding: 10px 20px 0px 20px;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    align-items: center;
    text-align: center;
    font-size: 120%;
    height: auto;
}

/* segundo h1*/
.experiencia-local h1:first-child{
    padding: 0px 20px 0px 20px;
}

